%script{:type => "text/javascript", :src  => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"}
%script{:type => "text/javascript", :src  => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"}

.jumbotron(style="padding: 30 40 40 40;")
  .container
    .col-md-4.container-right.container-bottom
      = image_tag 'logo1.png'
    .col-md-8
      %h1 Trees Matter
      %p Trees know when there's trouble before we do. Let's help them tell us.
      %p
        %a.btn.btn-primary.btn-lg(role="button" href="pages/why")
          Huh? &raquo;

.container
  .row
    .col-md-4
      #map(style="width: 100%; height: 400px;")
    .col-md-8
      .row
        .col-md-8
          %h2.text-right All OpenTrees:
        .col-md-4
          %h2= @trees.length
      .row
        .col-md-8
          %h2.text-right Nearby OpenTrees:
        .col-md-4
          %h2= @trees.length
          .space-40

      .row
        .col-md-12
          %table.table
            %thead
              %tr
                %th Tree
                %th Taken
                %th By
            %tbody
              - @trees.each do |tree|
                %tr
                  %td
                    %a{:href => ("/trees/#{tree.id}")}
                      = tree.title
                  %td= tree.datetaken
                  %td
                    %a{:href => (flickr_user_url tree.owner)}
                      = tree.ownername


  .row.space-80
  .row
    .col-md-4.container-right
      %span.glyphicon.glyphicon-info-sign.icon-large
    .col-md-8
      %p.disclaimer
        The images shown here are real Flickr images collected in real time
        based on being tagged with "opentree".

  .row.space-80
  .row
    .col-md-4.container-right
      %span.glyphicon.glyphicon-info-sign.icon-large
    .col-md-8
      %p.disclaimer
        This website is a response to a 
        = link_to '2014 Space Apps Challenge', 'https://2014.spaceappschallenge.org/'
        called
        = link_to 'Tree Factor', 'https://2014.spaceappschallenge.org/challenge/tree-factor/'
        = "."
        We used the challenge to help us work out 3 big ideas:
        %ol
          %li
            Real scientific data can be collected by citizen scientists who
            are just old enough to use a smartphone. Crowd sourcing is a
            phrase that recently caught on, but it has been done well
            = link_to 'time', 'http://setiathome.ssl.berkeley.edu/'
            and 
            = link_to 'time again', 'https://www.duolingo.com'
            in the past.
          %li
            We can use existing infrastructures to do this instead of
            inventing our own.  In this case we are using Flickr to capture,
            catalog, index, store and share data.
            This is cheaper, better, and familiar.
          %li
            We can solve a tough image recognition problem by using familiar
            objects in a novel way.  In this case, we have our citzen
            scientists put a 8.5" x 11" piece of paper on a tree, then crop
            their images to the size of the tree, which gives us everything
            we need to figure out the tree's size fairly accurately.


:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: { maxZoom: 14 }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @marker_hash.to_json})
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });