%script{:type => "text/javascript", :src  => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"}
%script{:type => "text/javascript", :src  => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"}

.jumbotron
  .container
    %h1 Trees Matter
    %p Trees know when there's trouble before we do. Let's help them tell us.
    %p
      %a.btn.btn-primary.btn-lg(role="button")
        Huh? &raquo;

.container
  .row
    .col-md-6
      #map(style="width: 400px; height: 400px;")
    .col-md-6
      .row
        .col-md-8
          %h3.text-right All OpenTrees:
        .col-md-4
          %h3= @trees.length

      .row
        .col-md-8
          %h3.text-right Nearby OpenTrees:
        .col-md-4
          %h3= @trees.length
      .row
        .col-md-12
          %table.table
            %thead
              %tr
                %th Tree
                %th Taken
                %th By
            %tbody
              - @trees.each do |tree|
                %tr
                  %td
                    %a{:href => (tree.id)}
                      = tree.title
                  %td= tree.datetaken
                  %td
                    %a{:href => (flickr_user_url tree.owner)}
                      = tree.ownername

:javascript
  var handler = Gmaps.build('Google');
  handler.buildMap({internal: {id: 'map'}}, function() {
    if (navigator.geolocation)
      navigator.geolocation.getCurrentPosition(displayOnMap);
  });

  function displayOnMap(position) {
    var marker = handler.addMarker({
      lat: position.coords.latitude,
      lng: position.coords.longitude
    });
    handler.map.centerOn(marker);
  }