%script{:type => "text/javascript", :src  => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"}
%script{:type => "text/javascript", :src  => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"}

.container
  .row
    .col-md-3
      .space-40
      #map.map-tree-detail(style="width: 100%; height: 240px;")
    .col-md-3
      .space-40
      = image_tag flickr_photo_url(@tree.id, @tree.farm, @tree.server, @tree.secret), class: 'image-tree-detail'
    .col-md-6
      .space-40
      %h2= @tree.title
      %h4 36 Feet Tall
      %h4= @tree.dates.taken
      %h4
        %a{:href => (flickr_user_url @tree.owner)}
          = @tree.owner.username
      %h4 No Health Data
      %h4 Dogwood
  .row.space-80
  .row
    .col-md-12
      = image_tag 'graph1.png'
  .row.space-80
  .row
    .col-md-1.container-right
      %span.glyphicon.glyphicon-info-sign.icon-large
    .col-md-8
      %p.disclaimer
        The images shown are real Flicker images being pulled dynmaically
        based on being tagged with &quot;opentree&quot;.
        The charts are fabricated examples based on data we will collect
        directly, along with data and images from other services such as
        = link_to 'GIBS', 'https://wiki.earthdata.nasa.gov/display/GIBS/GIBS+API+for+Developers'
        and
        = link_to 'forecast.io', 'https://developer.forecast.io/'


:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: { maxZoom: 14 }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        lat: #{@tree.location.latitude},
        lng: #{@tree.location.longitude},
        infowindow: "hello!"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });