%script{:type => "text/javascript", :src  => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"}
%script{:type => "text/javascript", :src  => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"}

.container
  .row
    .col-md-3
      #map.map-tree-detail(style="width: 100%; height: 240px;")
    .col-md-3
      = image_tag flickr_photo_url(@tree.id, @tree.farm, @tree.server, @tree.secret), class: 'image-tree-detail'
    .col-md-6
      %h4= @tree.title
      %h4 36 Feet Tall
      %h4= @tree.dates.taken
      %h4
        %a{:href => (flickr_user_url @tree.owner)}
          = @tree.owner.username
      %h4 No Health Data
      %h4 Dogwood
  .row.space-40
  .row
    .col-md-12
      %h4 Chart coming soon ...

:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: { maxZoom: 14 }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        lat: #{@tree.location.latitude},
        lng: #{@tree.location.longitude},
        infowindow: "hello!"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });