.container
  .row.space-20
    .col-md-3.space-20
      Pretty graphic
    .col-md-9
      %h2 We're Just Getting Started
      %p
        Competing in the
        = link_to 'Tree Factor', 'https://2014.spaceappschallenge.org/challenge/tree-factor/'
        challgen of the
        = link_to '2014 Space Apps Challenge', 'https://2014.spaceappschallenge.org/'
        got us interested enough to create this prototype in about one and
        a half days.
      %p
        The cool thing is that this has given us a chance to work out a lot
        of the elements needed to make OpenTree happen. We are using
        many powerful existing technologies (
        = link_to 'Flickr', 'https://www.flickr.com/'
        ,
        = link_to 'Google Maps', 'https://www.google.com/maps'
        ,
        = link_to 'Forecast.io', 'http://forecast.io'
        ) that have let us go a long way in a short time.

  .row.space-20
    .col-md-3.space-20
      Pretty graphic
    .col-md-9
      %h2 Nuts-n-Bolts
      %p
        Making OpenTree real involves some fun technology development,
        including:
        .ul
          .li
            Doing some fancy computer vision and machine learning work
            to process the images
          .li
            Building a data that contains all the information our computers
            cook up with the images
          .li
            Building an interactive website that makes it fun to
            help and compete with other OpenTree citizen-scientists

  .row.space-20
    .col-md-3.space-20
      Pretty graphic
    .col-md-9
      %h2 Gamification
      %p
        Gamification. That word is so weird. But, it's the secret behind
        all the best crowd sourced applications.
      %p
        Do you remember
        link_to 'SETI@home', 'http://setiathome.ssl.berkeley.edu/'
        ?  How about 
        link_to 'Duolingo', 'https://www.duolingo.com'
        ? Do you play video games?  Do your kids?
      %p
        All of these things are FUN, even though they're all very different
        tasks.  Just like a little healthy competition should be.
      %p
        OpenTree will measure progress by Flickr user, and serve up badges
        for things like:
        .ul
          .li Most trees photographed
          .li Most species identified
          .li Tallest tree in the region found
          .li Most countries trees were tagged in
      %p
        And so on.  You get the idea.
           