.container
  .row.space-20
    .col-md-3.space-20
      Pretty graphic
    .col-md-9
      %h2 We're Just Getting Started
      %p
        Competing in the
        = link_to 'Tree Factor', 'https://2014.spaceappschallenge.org/challenge/tree-factor/'
        challgen of the
        = link_to '2014 Space Apps Challenge', 'https://2014.spaceappschallenge.org/'
        got us interested enough to create this prototype in about one and
        a half days.
      %p
        The cool thing that this has given us a chance to work out a lot
        of the cool things needed to make OpenTree happen. We are using
        many powerful existing technologies (
        = link_to 'Flickr', 'https://www.flickr.com/'
        ,
        = link_to 'Google Maps', 'https://www.google.com/maps'
        ,
        = link_to 'Forecast.io', 'http://forecast.io'
        ) that have let us go a long way in a short time.

  .row.space-20
    .col-md-3.space-20
      Pretty graphic
    .col-md-9
      %h2 Nuts-n-Bolts
      %p
        There are some nut