.container

  .row.space-20
    .col-md-3.space-20
      %span.glyphicon.glyphicon-user.icon-massive
    .col-md-9
      %h2 Who Are You?
      %p
        OpenTree was created by a small team participating in the
        = link_to '2014 Space Apps Challenge', 'https://2014.spaceappschallenge.org/'
        out of
        = link_to 'Pittsburgh, Pennsylvania', 'http://goo.gl/qhtQU2'
      %p
        We didn't make this stuff up!
        We're responding to a specific challenge called
        = link_to 'Tree Factor', 'https://2014.spaceappschallenge.org/challenge/tree-factor/'
        that convinced us why figuring out how the trees around us are
        responding to our environment is important.

  .row.space-20
    .col-md-3.space-20
      %span.glyphicon.glyphicon-earphone.icon-massive 
    .col-md-9
      %h2 Want to Talk?
      %p
        In case you'd like to connect, we are :
        = link_to 'Sam', 'https://www.linkedin.com/profile/view?id=2748324'
        ,
        = link_to 'Jon', 'http://www.twitter.com/b3ko'
        , and
        = link_to 'Diane', 'http://about.me/diane.bossart/#'

  .row
    .col-md-12
      .space-40
      %a.btn.btn-primary.btn-lg(role="button" href="/pages/what")
        What Now? &raquo;