.row
  .col-md-2
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "OpenTree", root_path, class: 'navbar-brand'
  .col-md-10
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = nav_link "Why?", page_path('why')
        = nav_link "How?", page_path('how')
        = nav_link "Who?", page_path('who')
        = nav_link "What Now?", page_path('what')